@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Dive into the world of cinema like never before with MovieHub, the quintessential app for movie enthusiasts.Offering and
    expansive library of films spanning across genres, eras, and countries.</p>
</main>